Firebase_example/cert.pem
Firebase_example/key.pem
PostgreSQL_example/nodejs/key.pem
PostgreSQL_example/nodejs/cert.pem
PostgreSQL_example/nodejs/config.json
Firebase_example/resetFirebaseRTDB/firebaseConfig.js
